* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 2px solid black;
    width: 400px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.screen {
    border: 2px solid red;
    width: 100%;
    height: 100px;
    
}

.btn-container {
    border: 2px solid blue;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-container .button {
    display: flex;
    flex: 1;
    gap: 5px;
}

.btn-container .delete, 
.delete-all,
.btn {
    flex: 1;
}

